<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= comic.title %></title>
</head>
<body>
    <h1>Comic Info</h1>
    <a href="/login">LogOut</a>
    <h1><%= comic.title %></h1>
    <p><%= comic.description %></p>
    <img src="<%= comic.image %>" alt="<%= comic.title %>" style="width: 300px;">
    <p>Views: <%= comic.views %></p>
    <a href="/comic/<%= comic._id %>/chapter/1"><button>Chap 1</button></a>
    <a href="/list_comic">Back to List</a>
    <form action="/comment/<%= comic._id %>" method="post">
        <label for="comment">Your comment:</label>
        <input type="text" id="comment" name="comment" required>
        <button type="submit">Add Comment</button>
    </form>
    <div>
        <% if (comments.length > 0) { %>
            <% comments.forEach(function(comment) { %>
                <div>
                    <p><%= comment.text %></p>
                    <small><%= comment.createdAt.toDateString() %></small>
                </div>
            <% }); %>
        <% } else { %>
            <p>No comments yet.</p>
        <% } %>
    </div>
</body>
</html>
